# Informacoes da conexao ao admin server

# admin console
admin.username={{ wls_user }}
admin.password={{ wls_password }}
admin.url=t3://{{ admin_console_ip }}:{{ wls_port }}

# managed server
ms.address01={{ ms_address01 }}
ms.address02={{ ms_address02 }}
ms.port={{ ms_port }}
ms.machine01={{ ms_machine01 }}
ms.machine02={{ ms_machine02 }}
ms.cluster={{ ms_cluster }}
ms.template={{ template }}
