# AdminServer connection details.

admin.username={{ wls_user }}
admin.password={{ wls_password }}
admin.url=t3://{{ admin_console_ip }}:{{ wls_port }}

# Cluster details

cluster.name={{ ms_cluster }}
