# Informacoes da conexao ao admin server

# admin console
admin.username={{ wls_user }}
admin.password={{ wls_password }}
admin.url=t3://{{ admin_console_ip }}:{{ wls_port }}

# managed server
ms.address={{ ms_address01 }}
ms.port={{ ms_port }}
ms.machine={{ ms_machine01 }}
ms.cluster={{ ms_cluster }}
ms.template={{ template }}
